.container {
    width: 100%;
    padding: 2rem;
    display: flex;
}

.container iframe {
    visibility: hidden;
    opacity: 0;
}

.container canvas {
    max-width: 100%;
    min-height: 15rem;
}
