.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    gap: 2rem;
}
.container span {
    color: var(--card-value);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container input[type="checkbox"] {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.container input[type="checkbox"] + label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    border: 4px solid #c5c7cd;
    width: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    height: 2rem;
    transition: border 0.2s, background 0.3s;
}

.container input[type="checkbox"]:checked + label {
    border: var(--blue);
    background-color: var(--blue);
}
.container > span:last-child {
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.urgent {
    background-color: #fec400;
}
.new {
    background-color: #29cc97;
}

.container span:last-child.default {
    background-color: #f0f1f7;
    color: #9fa2b4;
}
