.container {
    transition: 0.7s;
}

.overlay {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.73);
    z-index: -1;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 990;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 3rem 8rem;
    gap: 4rem;
}
.tickets__tasks,
section {
    max-width: 1100px;
    min-width: 258px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.trends {
    background: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border);
    border-radius: 1rem;
}

.trends .left {
    width: 100%;
    height: 100%;
}
.trends .left h2 {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    color: var(--text-title);
}

.trends .left p {
    font-size: 1.6rem;
    padding: 0 2rem;
    color: var(--text-grey);
}

.trends ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.trends ul li {
    width: 100%;
}

.trends ul li div {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--border);
    padding: 2rem 1rem;
}

.trends ul li div strong {
    text-align: center;
    color: var(--card-title);
    font-size: 1.5rem;
    font-weight: 600;
}
.trends ul li div span {
    font-size: 2rem;
    color: var(--card-value);
    font-weight: bold;
}

/* Tickets and Tasks */
.tickets__tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 4rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.tasks,
.tickets {
    background-color: var(--card-background);
    width: 100%;
    height: 100%;
    padding: 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    border: 2px solid var(--border);
    border-radius: 1rem;
}
.tasks header,
.tickets header {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}
.tasks header > div,
.tickets header > div {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
}
.tasks header h2,
.tickets header h2 {
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--card--value);
}

.tasks header p,
.tickets header p {
    font-size: 1.2rem;
    color: var(--text-grey);
}
.tickets header p span {
    color: var(--card--value);
    font-weight: bold;
}
.tasks header strong,
.tickets header strong {
    color: var(--blue);
    font-size: 1.4rem;
    text-align: right;
    cursor: pointer;
}
.tasks ul,
.tickets ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.tasks ul li,
.tickets ul li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    color: var(--text);
    padding: 1.5rem 2rem;
    border-top: 1px solid var(--border);
    gap: 2rem;
}
.tickets ul li:first-child {
    border: none;
}
.tickets ul li span {
    color: var(--text-grey);
}

.new__task {
    font-size: 1.4rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
/* Media Queries */

@media (min-width: 900px) {
    .tickets__tasks {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 3rem;
    }
}
@media (min-width: 850px) and (max-width: 1068px) {
    .trends ul {
        display: grid;
        grid-template-columns: repeat(6, auto);
    }

    .trends ul li:nth-child(1) {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .trends ul li:nth-child(2) {
        grid-row-start: 1;
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .trends ul li:nth-child(3) {
        grid-row-start: 1;
        grid-column-start: 5;
        grid-column-end: 7;
    }
    .trends ul li:nth-child(4) {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .trends ul li:nth-child(5) {
        grid-row-start: 2;
        grid-column-start: 4;
        grid-column-end: 7;
    }
}
@media (min-width: 1068px) {
    .trends ul {
        display: grid;
        grid-template-columns: repeat(6, auto);
    }
}

@media screen and (min-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: 255px auto;
    }

    .overlay {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}
@media screen and (min-width: 1260px) {
    .trends {
        display: grid;
        grid-template-columns: 1fr 300px;
    }
    .trends ul {
        border-left: 1px solid var(--border);

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 100%;
        width: 100%;
    }
    .trends ul li div {
        width: 300px;
    }
    .trends ul li:first-child div {
        border-top: none;
    }
}

@media screen and (min-width: 1393px) {
    .cards {
        justify-content: space-between;
    }
}
